fastapi
uvicorn
feedparser
requests
openai
python-dotenv
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-gcp-trace
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
opentelemetry-propagator-gcp
